*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,59,83,1) 35%, rgba(0,212,255,1) 100%);
background-repeat: no-repeat;
}
.clocks{
    width: 50%;
    padding: 5rem;
    min-width:20rem;
    /* height: min(100% - 20rem); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
/* ========== TOGGLE SWITCH ========== */
.switch-wrap{
    position: absolute;
    top: 5%;
    right: 5%;
}
.clocks .switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0);
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 3px;
    background-color: rgb(57, 6, 245);
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    border:1px solid white;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* ========== TOGGLE SWITCH END ========== */

/*=================== ANALOG SECTION================= */

.analog{
    display: flex;
    width: 30rem;
    height: 30rem;
    border: 2px solid tomato;
    border-radius: 50%;
    position: relative;
}
.number{
--rotation: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    transform: rotate(var(--rotation));
}
.number1{--rotation: 30deg}
.number2{--rotation: 60deg}
.number3{--rotation: 90deg;
            font-size: 3rem;}
.number4{--rotation: 120deg}
.number5{--rotation: 150deg}
.number6{--rotation: 180deg;
    font-size: 3rem;}
.number7{--rotation: 210deg}
.number8{--rotation: 240deg}
.number9{--rotation: 270deg;
        font-size: 3rem;}
.number10{--rotation: 300deg}
.number11{--rotation: 330deg}
.number12{--rotation: 0deg;
    font-size: 3rem;}


.number3 div{
    transform: rotateX(-90deg);
    transform: rotateZ(-90deg);
}
.number4 div{
    transform: rotateX(180deg);
    transform: rotateZ(180deg);
}
.number5 div{
    transform: rotateX(180deg);
    transform: rotateZ(180deg);
}
.number6 div{
    transform: rotateX(180deg);
    transform: rotateZ(180deg);
}
.number7 div{
    transform: rotateX(180deg);
    transform: rotateZ(180deg);
}
.number8 div{
    transform: rotateX(180deg);
    transform: rotateZ(180deg);
}
.number9 div{
    transform: rotateX(90deg);
    transform: rotateZ(90deg);
}

.analog::after{
    content: "";
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, 50%);
    z-index: 99999;
}

.hand{
    --rotation: 0;
    position: absolute;
    background-color: black;
    width: 10px;
    height: 37%;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg)) ;
    transform-origin: bottom;
    border: 1px solid white;
    border-radius: 50% 50% 0 0;
   
    
}

.hand.minute{
    width: 7px;
    height: 41%;
   
}
.hand.second{
    width: 4px;
    height: 45%;
    background-color: red;
   
}

/* ================== DIGITAL CLOCK SECTION ================= */
.digital{
    /* width: 45rem; */
    /* height: 15rem; */
    /* border: 2px solid red; */
    display: none;
    justify-content: space-evenly;
    gap: 10px;
    /* display: none; */

}
.digital .hour-div, .minute-div, .second-div{
    height: 100%;
    padding: 0.5rem;
    /* border: solid black; */
    text-align: center;
    font-size: 500%;
    font-weight: 900;
}
.second-div{
    font-size: 550%;
}
.digital span{
    height: 100%;
    font-size: 500% ;
    /* border: solid black; */
}


@media (max-width: 576px) {
    .analog {
         width: 10rem;
        height: 10rem; 
        padding:0;
        
    }
     .number{
        font-size: 1rem;
    }
    .hand{
        width: 2px;
    }
    .analog::after{
        content: "";
        position: absolute;
        bottom: 50%;
        left: 50%;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: black;
        transform: translate(-50%, 50%);
        z-index: 99999;
    }
    
}
@media (max-width: 768px) {
    .analog {
         width: 15rem;
        height: 15rem; 
        padding:0;
        
    }
     .number{
        font-size: 1rem;
    }
    .hand{
        width: 2px;
    }
    .analog::after{
        content: "";
        position: absolute;
        bottom: 50%;
        left: 50%;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: black;
        transform: translate(-50%, 50%);
        z-index: 99999;
    }
    
}
